*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*utilities*/
.normal{
    text-decoration: none;
    color: black;
    font-size: 17px;
    
}
.normal:hover{
    text-decoration: underline;
}
.button {
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.type{
    font-weight: 600;
    font-size: 25px;
}
.price{
    font-weight: bold;
    font-size: 15px;
}
.month{
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}
/*fine utilities*/

/*inizio header*/
header{
width: 100%;
height: 80px;
display: flex;
align-items: center;
}
#header-row{
    width: 100%;
    display: flex;
    column-gap: 40%;
}
#header-col-left, #header-col-right{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*fine header*/

/*inizio main*/

/*prima sezione*/
.jumbotron{
    width: 100%;
    height: 750px;
    background-color: rgb(180, 208, 231);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#main-first-row{
    width: 70%;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
}
#first-col-row{
    font-weight: bold;
    font-size: 70px;
}
#main-second-row{
    width: 70%;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 80px;
    display: flex;
}
#first-col-second-row{
    width: 30%;
    flex-direction: column;
}
#first-col-second-row p{
    margin-bottom: 20px;
    position: relative;
}
#first-col-second-row button{
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
}
#second-col-second-row{
    width: 60%;
    position: relative;
}
#jumbo-image{
    width: 120%;
    height: 160%;
    position: absolute;
    top: 10;
    right: 10;
}
#arrow{
    font-size: 50px;
    position: absolute;
    top: 150px;
}
/*fine prima sezione*/

/*inizio seconda sezione*/
#business-sec{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#first-business-row{
    width: 55%;
    margin-top: 150px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#second-business-row{
    width: 55%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#third-business-row{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-bottom: 20px;
}
.section{
    padding: 40px 20px 20px 20px;
    line-height: 33px;
}
.section-two p{
    font-size: 14px;
    padding-top: 10px;
}
.section-two{
    padding: 10px 20px 20px 20px;
}
.button-sec{
    padding: 20px 20px 20px 40px;
}
.button-sec .button{
    width: 90%;
    height: 40px;
}
.link-sec{
    padding-left: 20px;
}
hr{
    width: 15%;
    color: gray;
    margin-left: 20px;
    margin-top: 40px;
}
li{
    list-style-type: none;
    padding-top: 20px;
}
.list p{
    font-weight: bold;
}
.list{
    margin-top: 30px;
    margin-left: 20px;
    font-size: smaller;
}
.business-option{
    width: 30%;
    border: 1px solid grey;
}
#fourth-business-row{
    width: 55%;
}
#sub-row{
    display: flex;
    width: 100%; 
}
#fourth-title{
    width: 70%;
    padding: 4%;
    line-height: 40px;
}
#fourth-button{
    width: 30%;
    padding-top: 3%;
    padding-left: 5%;
}
#fourth-button .button{
    padding: 12px 30px;
}
#fourth-title p{
    line-height: normal;
    padding-top: 40px;
}
.top-table{
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    padding-right: 5px;
}

/*fine seconda sezione*/

/*inizio terza sezione*/
#partner-dropbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#partner-row{
    width: 55%;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
}
#partner-col{
    width: 60%;
}
#test-col{
    width: 40%;
    padding: 50px;
}
#partner-image{
    width: 100%;
    height: 100%;
}
#white-button{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 9px 20px;
    font-size: 16px;
    cursor: pointer;
}
#title-fourth-sec{
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
}
#text-fourth-sec{
    padding-bottom: 20px;
}
/*fine terza sezione*/

/*inizio quarta sezione*/

/*fine quarta sezione*/

/*inizio quinta sezione*/

/*fine quinta sezione*/
/*fine main*/