*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*utilities*/
.normal{
    text-decoration: none;
    color: black;
    font-size: 17px;
    
}
.normal:hover{
    text-decoration: underline;
}
.button {
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.type{
    font-weight: 600;
    font-size: 25px;
}
.price{
    font-weight: bold;
    font-size: 15px;
}
.month{
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}
/*fine utilities*/

/*inizio header*/
header{
width: 100%;
height: 80px;
display: flex;
align-items: center;
}
#header-row{
    width: 100%;
    display: flex;
    column-gap: 40%;
}
#header-col-left, #header-col-right{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*fine header*/

/*inizio main*/

/*prima sezione*/
.jumbotron{
    width: 100%;
    height: 750px;
    background-color: rgb(180, 208, 231);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#main-first-row{
    width: 70%;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
}
#first-col-row{
    font-weight: bold;
    font-size: 70px;
}
#main-second-row{
    width: 70%;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 80px;
    display: flex;
}
#first-col-second-row{
    width: 30%;
    flex-direction: column;
}
#first-col-second-row p{
    margin-bottom: 20px;
    position: relative;
}
#first-col-second-row button{
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
}
#second-col-second-row{
    width: 60%;
    position: relative;
}
#jumbo-image{
    width: 120%;
    height: 160%;
    position: absolute;
    top: 10;
    right: 10;
}
#arrow{
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
    top: 150px;
}
/*fine prima sezione*/

/*inizio seconda sezione*/
#business-sec{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#first-business-row{
    width: 55%;
    margin-top: 150px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#second-business-row{
    width: 55%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
#third-business-row{
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-bottom: 20px;
}
.section{
    padding: 40px 20px 20px 20px;
    line-height: 33px;
}
.section-two p{
    font-size: 14px;
    padding-top: 10px;
}
.section-two{
    padding: 10px 20px 20px 20px;
}
.button-sec{
    padding: 20px 20px 20px 40px;
}
.button-sec .button{
    width: 90%;
    height: 40px;
}
.link-sec{
    padding-left: 20px;
}
hr{
    width: 15%;
    color: gray;
    margin-left: 20px;
    margin-top: 40px;
}
li{
    list-style-type: none;
    padding-top: 20px;
}
.list p{
    font-weight: bold;
}
.list{
    margin-top: 30px;
    margin-left: 20px;
    font-size: smaller;
}
.business-option{
    width: 30%;
    border: 1px solid grey;
}
#fourth-business-row{
    width: 55%;
}
#sub-row{
    display: flex;
    width: 100%; 
}
#fourth-title{
    width: 70%;
    padding: 4%;
    line-height: 40px;
}
#fourth-button{
    width: 30%;
    padding-top: 3%;
    padding-left: 5%;
}
#fourth-button .button{
    padding: 12px 30px;
}
#fourth-title p{
    line-height: normal;
    padding-top: 40px;
}
.top-table{
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    padding-right: 5px;
}

/*fine seconda sezione*/

/*inizio terza sezione*/
#partner-dropbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#partner-row{
    width: 55%;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
}
#partner-col{
    width: 60%;
}
#test-col{
    width: 40%;
    padding: 50px;
}
#partner-image{
    width: 100%;
    height: 100%;
}
#white-button{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 9px 20px;
    font-size: 16px;
    cursor: pointer;
}
#title-fourth-sec{
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
}
#text-fourth-sec{
    padding-bottom: 20px;
}
/*fine terza sezione*/

/*inizio quarta sezione*/
#operations-sec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#operations-text{
    width: 55%;
    font-size: 35px;
    font-weight: 600; 
}
#operations-row{
    width: 57%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc(100% / 3 - 20px);
    padding: 10px 10px 10px 10px;
    margin: 10px;
}
.op-image{
    width: 100%;
    margin-top: 20px;
}
.card p{
    margin-top: 40px;
}
/*fine quarta sezione*/

/*inizio quinta sezione*/
#fifth-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 170px;
}
#info-row{
    width: 55%;
}
#info-row h2{
    font-size: 40px;
    font-weight: 600;
    padding-right: 300px;
}
#info-row a{
    line-height: 180px;
}
/*fine quinta sezione*/

/*inizio sesta sezione*/
.container{
    width: 100%;
}
.row-partners{
    width: 100%;
    display: flex;
}
.col-33{
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.col-green{
    background-color: rgb(245, 245, 245);
}
.col-50{
    width: calc(100% / 2);
    height: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-white{
    background-color: rgb(255,28,28);
}
.col-gray{
    background-color: rgb(0,147,206);
}
.col-yellow{
    background-color: rgb(97, 8, 43);
}
.col-orange{
    background-color: rgb(209,233,205);
}
.partner-image{
    width: 90%;
    height: 90%;
    background-color: rgb(162,211,155);
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-gray img{
    width: 50%;
    height: 15%;
}
.partner-pic{
    height: 50%;
    width: 50%;
    filter: invert(1);
}
.content-33{
    width: 85%;
    margin: 40px 0px 0px 40px;
}
.partner-pic-main{
    width: 50%;
    height: 20%;
}
.content-33 p{
    margin-bottom: 30px;
}
.content-33 hr{
    margin-bottom: 30px;
    margin-left: 0px;
}
.col-red{
    background-color: rgb(231, 0, 31);
}
.col-heavenly{
    background-color: rgb(180, 208, 231);
}
.col-blue{
    background-color: rgb(13, 36, 129);
}
.col-sand{
    background-color: rgb(255, 216, 48);
}
.last-main-container{
    background-color: rgb(180, 208, 231);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.only-row{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.col-1{
    width: 50%;
}
.col-1 p{
    font-size: 35px;
    font-weight: bold;
    color: rgb(97, 8, 43);
}
.col-2 .button{
    background-color: white;
    color: black;
    padding: 16px 50px;
}
/*fine sesta sezione*/

/*inizio settima sezione*/
.faq-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 200px;
}
.faq-row{
    width: 55%; 
}
.faq-row hr{
    width: 100%;
    margin: 30px 0px 30px 0px;
}
.faq-row h1{
    margin-bottom: 60px;
}
.faq-row h2{
    font-size: 17px;
    font-weight: 700;
    padding-right: 300px;
    display: inline-block;
}
/*fine settima sezione*/

/*fine main*/

/*inizio footer*/
.footer-container{
    width: 100%;
    background-color: black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-row{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.col-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: calc(100% / 5 - 40px);
    height: fit-content;
    margin: 0px 20px 0px 20px;
}
.ita{
    color: gray;
    padding-left: 18px;
    padding-top: 60px;
}
.footer-row i{
    padding: 7px 10px 10px 10px;
}
.footer-col p, a{
    color: white;
    text-decoration: none;
}
.footer-col p{
    font-weight: bold;
    font-size: 25px;
}
.footer-col a:hover{
    text-decoration: underline;
}
/*fine footer*/